//<img src='${damfn.getAssetLinkForId(content.image)!}' alt='rendered image'>
.article-image-wrapper
    include ../../00-atoms/02-images/02-articleImage
div.copyright-line Lorem Ipsum
div.article-text
    h3 ÖÄÜ #{headline} #{headline} #{headline}
    p.text-block #{text} #{lorem300}
    p.ellipsis ...

